@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: rgb(165, 170, 218)
}

.container{
    width: 90%;
    height: 90vh;
    padding-bottom: 20px;
    margin: auto;
    padding-top: 200px;
    display: flex; 
}

.left-content.right-content{
    flex: 50%;

}

.left-content{
    height: 80vh;
    width: 25%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,0.5fr));
    grid-gap: 2rem;
    padding-left: 100px;
    overflow-y: scroll;
}

.right-content{
    width: 50%;
    text-align: center;
    color: black;
    position: fixed;
    top: 200px;
    right: 100px;

}

.card{
    width: 300px;
    background-color: #ffffff;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.image{
    width: 50px;
    height: 70px;
    object-fit: contain;
}

.right-content img{
    margin: 2rem;
    height: 200px;
}

.right-content h1{
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.abilities{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.abilities .group{
    background-color: rgb(74, 44, 122);
    color: white;
    padding: 0.5rem;
    font-size: 12px;
    border-radius: 8px;
}

.base-set{
    margin-top: 2rem;
}

.btn-group{
    display: flex;
}

.btn-group button{
    outline: none;
    border: none;
    padding: 0.6rem 0;
    margin: 1rem;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(24, 70, 122);
    border-radius: 8px;

}

/*Navbar*/
.navbar {
    width: 100%;
    height: 100px;
    background-color: #121619;
    display: flex;
    flex-direction: row;
    position: fixed;
  }
  
  .navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
  }
  
  .navbar .leftSide img {
    width: 70px;
  }
  
  .navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    margin: 20px;
  }
  
  .navbar .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .navbar .rightSide svg {
    font-size: 40px;
  }
  
  .navbar #open {
    padding-left: 0px;
  }
  .navbar #open img {
    display: none;
  }
  
  .navbar #close img {
    display: inherit;
  }
  
  .navbar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
  }
  
  .navbar #close .hiddenLinks {
    display: none;
  }
  
  .navbar #open a {
    width: 70px;
    margin: 5px;
  }
  @media only screen and (max-width: 900px) {
    .navbar .rightSide a {
      width: 70px;
    }
    .navbar .leftSide {
      padding-left: 50px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .navbar .rightSide a {
      display: none;
    }
  
    .navbar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navbar .rightSide button {
      display: inherit;
    }
  }
  
  @media only screen and (min-width: 600px) {
    .navbar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }

    /*Footer*/
    .footer {
      width: 100%;
      height: 200px;
      background-color: #121619;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding-top: 10px;
    }
  }